* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ebebeb;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sectionProductos {
  width: 100% !important;
}

/*Start header*/
nav {
  width: 70%;
  margin-bottom: 0;
  padding-bottom: 0 !important;
}

.navbar {
  padding: 0;
}

.header {
  background-color: rgba(10, 117, 189, 0.4156862745);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.header .container-search {
  width: 70%;
  display: flex;
  gap: 10px;
}
.header .container-search__container-logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container-search__container-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container-search__container-logo img {
  width: 50px;
}
.header .container-search__form-header {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container-search__form-header__input {
  padding-left: 10px;
  width: 70%;
  height: 40px;
  max-width: 1000px;
  border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border: none;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  border-left: 1.5px solid black;
}
.header .container-search__form-header__input:focus {
  outline: none;
}
.header .container-search__form-header__buttons {
  display: flex;
  gap: 10px;
  text-align: center;
}
.header .container-search__form-header__buttons__button {
  width: 40px;
  height: 40px;
  border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  border: none;
  background-color: white;
  border-top: 1.5px solid black;
  border-right: 1.5px solid black;
  border-bottom: 1.5px solid black;
  border-left: 1.5px outset black;
}
.header .container-search__form-header__buttons__button:hover {
  background-color: rgb(202, 202, 202);
}
.header .container-search__form-header__buttons__button__cart {
  width: 70px;
  height: 40px;
  border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border: none;
  background-color: #00a6fb;
  border-top: 1.5px solid black;
  border-right: 1.5px solid black;
  border-bottom: 1.5px solid black;
  border-left: 1.5px solid black;
}
.header .container-search__form-header__buttons__button__cart:hover {
  background-color: rgba(0, 167, 251, 0.4784313725);
}
.header .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 10px;
}
.header .items .crear-iniciar-sesion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header .items .nav-link {
  padding-bottom: 0;
}
.header .items__item {
  text-transform: uppercase;
  display: inline-block;
  font-size: 15px;
  color: #535353;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0;
}
.header .items__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #555;
  transition: all 0.2s ease-in-out;
}
.header .items__item:hover {
  color: #555;
}
.header .items__item:hover::after {
  width: 100%;
}
.header .items__item:hover {
  background-color: #ebebeb;
}

.contenedor-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 20px;
  gap: 20px;
}

.main {
  display: flex;
  margin-top: 10px;
}
.main .aside {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main .aside .filter-aside .title {
  color: black;
  font-size: 2rem;
}
.main .aside .filter-aside ul {
  margin: 0;
  padding: 0;
}
.main .aside .filter-aside .minimum-maximum {
  display: flex;
  gap: 10px;
}
.main .aside .filter-aside .minimum-maximum input {
  width: 45%;
}
.main .filter-container {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}
.main .filter-container .filter-sort {
  margin-right: 9vw;
}
.main .filter-container .container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1400px;
}
.main .filter-container .container-main .card:hover {
  -webkit-box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: scale(1.01);
}
.main .filter-container .container-main .card .card-body {
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.navbar-toggler {
  display: none;
}

@media (max-width: 1521px) {
  nav {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .navbar-toggler {
    position: absolute;
    right: 0;
    margin-right: 2.5vw;
    display: block;
  }
  .main {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .main .aside {
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    margin-left: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .main .aside .filter-aside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 145px;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
  .container-fluid {
    padding-right: 0 !important;
  }
  .items__item {
    margin-right: 0 !important;
    padding-right: 10px;
  }
  .header {
    display: flex;
  }
}
@media (max-width: 700px) {
  .header .container-search__container-logo {
    display: none;
  }
  .header .container-search__form-header {
    width: 100%;
  }
}
/*End header*/

/*# sourceMappingURL=styles.css.map */
