* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color: (
  primary: #00a6fb,
  background: #ebebeb,
  secondary:#0a75bd6a,
);

body {
  background-color: map-get($color , background);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-box($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}