* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color: (
  primary: #00a6fb,
  background: #ebebeb,
  secondary:#0a75bd6a,
);
#cantidadProductos{
  font-size: 20px;
  margin-left: 15px;
  font-weight: bold;
}
body {
  background-color: map-get($color , background);
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
#sectionProductos{
  width: 100% !important;
}
.card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 400px !important;
  & img{
    max-width: 150px;

  }
  &-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.carrito-title{
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: capitalize;
}
.btn {
  color: white;
  background-color: #73acd2;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #73acd2;
  margin: 10px auto;
  display: block;
  text-align: center;
}
.oculto{
  display: none;
}
.btn:hover {
  border: 1px solid white;
}
.btnQuitar {
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
}
.productoCarrito {
  border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  margin-bottom: 10px;
  line-height: 24px;
}
.productoCarrito h2 {
  font-size: 20px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-box($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}