/*Start header*/

nav {
    width: 70%;
    margin-bottom: 0;
    padding-bottom: 0 !important;
}

.navbar {
    padding: 0;
}

.header {
    background-color: map-get($color, secondary);

    @include flex-center();
    flex-direction: column;
    gap: 20px;

    & .container-search {
        width: 70%;
        display: flex;
        gap: 10px;

        &__container-logo {
            width: 20%;
            @include flex-center();

            & a {
                @include flex-center();
            }

            & img {
                width: 50px;
            }

        }

        &__form-header {
            width: 80%;
            @include flex-center();

            &__input {
                padding-left: 10px;
                width: 70%;
                height: 40px;
                max-width: 1000px;
                border-radius: 5px 0px 0px 5px;
                -webkit-border-radius: 5px 0px 0px 5px;
                -moz-border-radius: 5px 0px 0px 5px;
                border: none;
                border-top: 1.5px solid black;
                border-bottom: 1.5px solid black;
                border-left: 1.5px solid black;

                &:focus {
                    outline: none;
                }
            }

            &__buttons {
                display: flex;
                gap: 10px;
                text-align: center;

                &__button {
                    width: 40px;
                    height: 40px;
                    border-radius: 0px 0px 0px 0px;
                    -webkit-border-radius: 0px 0px 0px 0px;
                    -moz-border-radius: 0px 0px 0px 0px;
                    border: none;
                    background-color: white;
                    border-top: 1.5px solid black;
                    border-right: 1.5px solid black;
                    border-bottom: 1.5px solid black;
                    border-left: 1.5px outset black;

                    &:hover {
                        background-color: rgb(202, 202, 202);
                    }

                    &__cart {
                        width: 70px;
                        height: 40px;
                        border-radius: 0px 5px 5px 0px;
                        -webkit-border-radius: 0px 5px 5px 0px;
                        -moz-border-radius: 0px 5px 5px 0px;
                        border: none;
                        background-color: map-get($color, primary);
                        border-top: 1.5px solid black;
                        border-right: 1.5px solid black;
                        border-bottom: 1.5px solid black;
                        border-left: 1.5px solid black;


                        &:hover {
                            background-color: #00a7fb7a;
                        }

                    }
                }

            }

        }

    }

    & .items {
        @include flex-box(space-between, center);
        padding: 0;
        margin: 0;
        gap: 10px;

        & .crear-iniciar-sesion {
            @include flex-center();
            flex-wrap: wrap;

        }

        & .nav-link {
            padding-bottom: 0;
        }

        &__item {
            text-transform: uppercase;
            display: inline-block;
            font-size: 15px;
            color: #535353;
            font-weight: 600;
            letter-spacing: 2px;
            position: relative;
            transition: all 0.2s ease-in-out;
            margin-bottom: 0;

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                width: 0;
                background-color: #555;
                transition: all 0.2s ease-in-out;

            }

            &:hover {
                color: #555;

                &::after {
                    width: 100%;
                }
            }

            &:hover {
                background-color: map-get($color , background);
            }
        }
    }
}

.contenedor-nav {
    width: 100%;
    @include flex-center();
    flex-direction: row;
    padding-top: 20px;
    gap: 20px;
}


.main {
    display: flex;
    margin-top: 10px;

    & .aside {
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & .filter-aside {
            & .title {
                color: black;
                font-size: 2rem;
            }

            & ul {
                margin: 0;
                padding: 0;
            }

            & .minimum-maximum {
                display: flex;
                gap: 10px;

                input {
                    width: 45%;
                }


            }
        }
    }

    & .filter-container {

        @include flex-box(center, end);
        flex-direction: column;

        & .filter-sort {
            margin-right: 9vw;
        }

        & .container-main {
            @include flex-box(center, center);
            gap: 20px;
            flex-wrap: wrap;

            max-width: 1400px;

            & .card {
                &:hover {
                    -webkit-box-shadow: 0 7px 16px 0 rgba(0, 0, 0, .2), 0 1px 3px 0 rgba(0, 0, 0, .1);
                    box-shadow: 0 7px 16px 0 rgba(0, 0, 0, .2), 0 1px 3px 0 rgba(0, 0, 0, .1);
                    cursor: pointer;
                    transform: scale(1.01);

                }

                & .card-body {
                    border-top: 1px solid rgba(51, 51, 51, .1);
                }
            }
        }
    }

}

.navbar-toggler {
    display: none;
}

@media (max-width: 1521px) {
    nav {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .navbar-toggler {
        position: absolute;
        right: 0;
        margin-right: 2.5vw;
        display: block;
    }

    .main {
        display: flex;
        flex-direction: column;
        margin: 0;

        & .aside {
            flex-flow: row wrap;
            @include flex-center();
            border-bottom: 1px solid black;
            margin-left: 0;
            margin-bottom: 10px;
            padding-bottom: 10px;


            & .filter-aside {
                @include flex-box(space-evenly, center);
                width: 300px;
                height: 145px;
                flex-direction: column;
                margin-left: 10px;
                margin-right: 10px;

            }
        }
    }

    .container-fluid {
        padding-right: 0 !important;
    }

    .items__item {
        margin-right: 0 !important;
        padding-right: 10px;
    }

    .header {
        display: flex;
    }

}


@media (max-width:700px) {
    .header .container-search__container-logo {
        display: none;
    }

    .header .container-search__form-header {
        width: 100%;
    }

}

/*End header*/